/* RESET */
* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
/* FINE RESET */

/* STILI GENERALI */
body {
  font-family: 'Roboto', sans-serif;
}
img {
  width: 100%;
}
.wrapper {
  width: 70%;
  margin: auto;
  height: 100%;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
/* FINE STILI GENERALI */

/* INIZIO MENU */
header {
  height: 50px;
  color: #8C8D8F;
  line-height: 50px;
  margin: 40px 0;
}
.menu a {
  text-decoration: none;
  color: #8C8D8F
}
.menu {
  display: flex;
}
.menu li {
  list-style-type: none;
  position: relative;
}
.menu li img {
  vertical-align: middle;
}
.menu .logo {
  width: 100px;
}
.menu.float-left li {
  margin-right: 20px;
}
.menu.float-right li {
  margin-left: 40px;
}
.menu a:hover {
  color: black;
}
.menu .black-text a {
  color: black;
}
.menu .app {
  padding: 5px 10px;
  background-color: fuchsia;
  border-radius: 25px;
  color: white;
}
.menu .app a {
  color: white;
}

/* STILI DROPDOWN */
.dropdown {
  box-shadow:0px 0px 25px #807A7B;
  line-height: 40px;
  position: absolute;
  top: 100%;
  left: -26px;
  padding: 10px;
  white-space: nowrap;
  display: none;
}
.menu.float-right .dropdown li {
  margin-left: 0;
}
.dropdown.open {
  display: block;
}
.dropdown li:hover {
  background-color: gainsboro;
  color: black;
}
.dropdown a {
  position: relative;
}
.dropdown .news {
  font-size: 12px;
  font-weight: bold;
  color: fuchsia;
  position: absolute;
  top: -20px;
  right: -40px;
}
/* FINE STILI DROPDOWN */
/* FINE MENU */
